{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}

    <div class="container my-3">
        <h2>Search Company Stock Pricing:</h2>
        <form action="/search/stock" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Company Name</label>
              <input type="text" class="form-control" name="script_name" id="title" aria-describedby="emailHelp"> 
            </div>
            
            <button type="submit" class="btn btn-dark">Start Scanning</button>
          </form>
    </div>
    <div class="container my-3">
      {% if name %}
      <h2>Stock Pricing Table For {{name}}</h2>
      {% endif %}
      
              {% if Pricing|length == 0 %}
                 
              <div class="alert alert-dark" role="alert">
                  No Data found!
                </div>
                  {% else %} 
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">SNo</th>
                          <th scope="col">Open</th>
                          <th scope="col">High</th>
                          <th scope="col">Low</th>
                          <th scope="col">Close</th>
                          
                        </tr>
                      </thead>
                      
                      <tbody>
            {% for emp in Pricing %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <th scope="row">{{emp['1. open']}}</th>
              <th scope="row">{{emp['2. high']}}</th>
              <th scope="row">{{emp['3. low']}}</th>
              <th scope="row">{{emp['4. close']}}</th>
              
              
            </tr>
            
            {% endfor %}
          </tbody>
          </table>
            {% endif %}
             
         
  </div>

    <div class="container my-3">
        <h2>Search History</h2>
        
                {% if history|length == 0 %}
                   
                <div class="alert alert-dark" role="alert">
                    No History found!
                  </div>
                    {% else %} 
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Searched Scripts</th>
                            <th scope="col">Search at</th>
                            <th scope="col">Actions</th>
                            
                          </tr>
                        </thead>
                        
                        <tbody>
              {% for emp in history %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{emp.search_by()}}</td>
                <td>{{emp.script}}</td>
                <td>{{emp.date_created}}</td>
                <td>
                <a href="/stock/data/{{emp.id}}" type="button" class="btn btn-outline-dark btn-sm mx-1">View Data</button>
                <a href="/stock/search/delete/{{emp.id}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>

                </td>
                
              </tr>
              
              {% endfor %}
            </tbody>
            </table>
              {% endif %}
               
           
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
        <script>
            var a = document.getElementById("dropbtn");
            var old = a.options[a.selectedIndex].text;
         </script>
       
         <div class="wrapper">
           <script>
            

             $('#myBtn').on('click', function(a) {
                 var drpdbJson = {};
                 // for each row containing a select....
                 $('#Mapped\\ table tr:gt(0):has(select)').each(function(idx, old_ele) {
                     // get the selected value
                     var old_drpdwnKey = $(old_ele).find('.dropbtn option:selected').text();
                     // get the second column text
                     var old_drpdwnValue = $(old_ele).find('td:eq(1)').text();
                     // add to the json result
                     if (drpdbJson[old_drpdwnKey] == undefined) {
                       drpdbJson[old_drpdwnKey] = old_drpdwnValue;
                     } else {
                       drpdbJson[old_drpdwnKey] = (typeof drpdbJson[old_drpdwnKey] === 'string') ?
                           [drpdbJson[old_drpdwnKey], old_drpdwnValue] : [...drpdbJson[old_drpdwnKey], old_drpdwnValue];
                     }
                 })
                 // print the json obj
                 console.log(JSON.stringify(drpdbJson))
                 $.post("http://localhost:5000/bs_mapped",JSON.stringify(drpdbJson))
             })
           </script>
         </div>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->

{% endblock body %}